body{
    
}
.main{
    width:700px;
    height: 100%;
    background-color: rgb(174, 147, 198);
    margin: auto;
    padding: 20px;
    border: 10px solid rgb(219, 193, 193);
}
.header{
    display: flexbox;
    justify-content: center;
    text-align: center;
    margin: 0;
}
.profile{
    
    border-radius: 50%;
}
.academic{
    padding:10px;
}
.objective p{
    line-height: 1.5;
    text-align: justify;
    margin-left: 40px;
}
.academic p{
    line-height: 0.6;
}
h3{
    line-height: 0.2;
}
h1{
  letter-spacing: 2px;
  
}